{% extends 'base.html' %}
{% load static %}
{% block title %}添加配置文件{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-8 col-md-12">
                <div class="col-md-offset-1 console-instance-head clearfix">
                    <div class="pull-left">
                        <h3><span>配置文件添加</span></h3>
                    </div>
                </div>

                <div class="col-md-offset-1 margin-top-1">
                    <form id="id_form" class="form-horizontal" action="" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">服务名称：</label>
                                <div class="col-sm-4 row">
                                    <input class="form-control" type="text" placeholder="fdp_*或者tomcat-*"
                                           id="id_app_name" name="name"
                                           value="{{ app_name }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">SVN路径：</label>
                                <div class="col-sm-4 row">
                                    <input class="form-control" type="text" placeholder="svn相对路径，如adp/WebRoot；nodejs根路径请填写/"
                                           id="id_svn_url" name="svn_url">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">配置文件：</label>
                                <div class="col-sm-4 row">
                                    <input id="id_files" name="files" type="file" multiple="multiple" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">部署环境：</label>
                                <div class="col-sm-4 row">
                                    <input class="form-control" type="text" placeholder="test|staging|product"
                                           id="id_env" name="env" value="{{ env }}">
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-4 row ">
                                <button type="button" class="add_config_file btn btn-primary">保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- END Content -->
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add_config_file').click(function () {
                var formData = new FormData(document.getElementById('id_form'));
                $.ajax({
                    url: "{% url 'config_file_add' %}",
                    type: "POST",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        if (typeof data == 'string') {
                            data = JSON.parse(data);
                        }
                        console.log(data);
                        if (data['rtn'] == '00') {
                            layer.alert(data['msg'], {
                                icon: 1,
                                skin: 'layui-layer-molv',
                                closeBtn: 0,
                                end: function () {
                                    parent.location.reload();
                                }
                            });
                        }
                        else {
                            layer.alert(data['msg'], {
                                icon: 7,
                                skin: 'layui-layer-molv',
                                closeBtn: 0,
                                end: function () {
                                    parent.location.reload();
                                }
                            });
                        }
                    },
                    error: function (data) {
                        layer.alert(data['msg'], {
                            icon: 2,
                            skin: 'layui-layer-molv',
                            closeBtn: 0,
                            end: function () {
                                parent.location.reload();
                            }
                        });
                    }
                });
            })
        })
    </script>
{% endblock %}