{% extends 'base.html' %}
{% block title %}config files{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-8 col-md-12">
                <div class="col-md-offset-1 console-instance-head clearfix">
                    <div class="pull-left">
                        <h3><span>config files</span></h3>
                    </div>
                </div>

                <div class="col-md-offset-1 margin-top-1">
                    <div id=toolbar>
                        {#    <button id=open>&#x1f4c2;</button>#}
                        <output type="width: 300px; font-family: Courier;font-weight: bold;"
                                id=name>{{ file }}</output>
                        <output id=type></output>
                    </div>
            <textarea style="height: 40em;font-family: Courier;font-weight: bold;width: 100%;"
                      id=content>{{ file_content }}
            </textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}