{% extends 'base.html' %}
{% block title %}控制台{% endblock %}

{% block content %}
    {#    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">#}
    <div class="container col-sm-8 col-md-12">
        <div class="col-md-offset-1 console-instance-head clearfix">
            <div class="pull-left">
                <h3><span>概览</span></h3>
            </div>
        </div>
        <div class="col-md-offset-1 margin-top-1">
            <p>
                <a href="{% url 'asset' %}">服务器 <span class="badge">{{ assets_count }}</span></a>
            </p>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">RUNNING <span class="badge">{{ assets_count }}</span></a>
                </li>
                <li role="presentation" class="active"><a href="#">ERROR <span class="badge">0</span></a></li>
            </ul>

            <p>
                <a href="{% url 'apps_list' %}">应用 <span class="badge">{{ apps_count }}</span></a>
            </p>
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active"><a href="#">RUNNING <span
                        class="badge">{{ apps_count }}</span></a>
                </li>
                <li role="presentation" class="active"><a href="#">ERROR <span class="badge">0</span></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}