{% extends 'base.html' %}
{% block title %}download{% endblock %}

{% block content %}
    <div class="container col-sm-8 col-md-12">
        <div class="col-md-offset-1 console-instance-head clearfix">
            <div class="pull-left">
                <h3><span>文件下载</span></h3>
            </div>
        </div>

        <div class="col-md-offset-1 margin-top-1" id=toolbar>
            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <div class=" form-group">
                    <label class="col-sm-2 control-label">服务器环境：</label>
                    <div class="col-sm-4 row">
                        <select class="form-control" id="id_env" name="asset_env" required
                                onchange="change_env()">
                            <option value="" selected="selected">请选择</option>
                            <option value="test">test</option>
                            <option value="staging">staging</option>
                            <option value="product">product</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="text-danger">*</span>文件路径：
                    </label>
                    <div class="col-sm-4 row">
                        <input class="form-control" id="id_file_path" maxlength="300" name="file_path" type="text"
                               placeholder="请输入文件路径" required/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span class="text-danger">*</span>服务器IP：
                    </label>
                    <div class="col-sm-8 row">
                        <div class="form-group ng-isolate-scope" style="overflow: hidden;overflow: hidden"
                             action-select="" current-group="groupData">
                            <!-- 未选择 -->
                            <div class="col-sm-4">
                                <div class="select-top">
                                    <div class="select-lft ng-binding">全部服务器</div>
                                </div>
                                <div>
                                    <input type="text" placeholder="输入服务器名称"
                                           id="search_input" name="keyword" value="{{ keyword }}"
                                           style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; padding-left: 10px; padding-right: 24px"
                                           class="form-control">
                                </div>
                                <select class="form-control" multiple="multiple" id="id_assets" style="height: 20em;"
                                        name="assets_name"
                                        required onclick="select_asset()">
                                    {% for asset in assets %}
                                        <option value="{{ asset.ip }}">{{ asset.ip }}</option>
                                    {% endfor %}
                                </select>

                            </div>
                            {#                            <!-- 移如或者移出按钮的行为 -->#}
                            {#                            <div class="col-sm-2 clearfix" style="width: 40px">#}
                            {#                                <button type="button" class="btn btn-primary btn-sm"#}
                            {#                                        style="position: absolute; left: 50%; margin-left: -19px; top: 55px"#}
                            {#                                        id="moveRight" disabled="disabled">#}
                            {#                                    <i class="glyphicon glyphicon-arrow-right"></i>#}
                            {#                                </button>#}
                            {#                                <button type="button" class="btn btn-primary btn-sm"#}
                            {#                                        style="position: absolute; left: 50%; margin-left: -19px; top: 90px"#}
                            {#                                        id="moveLeft" disabled="disabled">#}
                            {#                                    <i class="glyphicon glyphicon-arrow-left"></i>#}
                            {#                                </button>#}
                            {#                            </div>#}
                            {#                            <!-- 已经选择 -->#}
                            {#                            <div class="col-sm-4">#}
                            {#                                <div class="select-top">#}
                            {#                                    <div class="select-lft">已选服务器</div>#}
                            {#                                </div>#}
                            {#                                <div>#}
                            {#                                    <input type="text" placeholder=""#}
                            {#                                           id="search_input" name="keyword" value="{{ keyword }}"#}
                            {#                                           style="border-bottom-right-radius: 0; border-bottom-left-radius: 0; padding-left: 10px; padding-right: 24px"#}
                            {#                                           class="form-control">#}
                            {#                                </div>#}
                            {##}
                            {#                                <select class="form-control" multiple="multiple" id="id_assets_select"#}
                            {#                                        style="height: 20em"#}
                            {#                                        name="asset_select_name"#}
                            {#                                        required onclick="cancel_asset()">#}
                            {#                                </select>#}
                            {#                            </div>#}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-4 row ">
                        <button type="submit" class="down_submit btn btn-primary">下载</button>
                        <button class="btn btn-white" type="reset">取消</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function change_env() {
            {#            var args = $("#id_type").serialize();#}
            var env = $("#id_env").val();

            $('#id_assets').empty();
            $.ajax({
                type: "GET",
                url: "{% url 'get_asset' %}?env=" + env,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#id_assets').append("<option value='" + item.fields.ip + "'>" + item.fields.ip + "</option>");
                    });
                },
                error: function () {
                    alert('error');
                },
                dataType: "json",
                contentType: "application/json"
            });
        }

        {#        $(document).ready(function () {#}
        {#            $('#moveRight').click(function () {#}
        {#                var app_assets = [];#}
        {#                $("#id_assets option:selected").each(function () {#}
        {#                    app_assets.push($(this).val());#}
        {#                    $('#id_assets_select').append("<option value='" + $(this).val() + "'>"#}
        {#                            + $(this).val() + "</option>");#}
        {#                    $("#id_assets").find("option:selected").remove();#}
        {#                    $("#moveRight").attr("disabled", true);#}
        {#                });#}
        {#                var db_select = $("#id_assets").val();#}
        {#                var index = $("#id_assets").get(0).selectedIndex;#}
        {#                var select_text = $("#id_assets").find("option:selected").text();#}
        {#                document.getElementById("id_assets").options.remove(index);#}
        {#            });#}
        {#            $('#moveLeft').click(function () {#}
        {#                var app_assets = [];#}
        {#                $("#id_assets_select option:selected").each(function () {#}
        {#                    app_assets.push($(this).val());#}
        {#                    $('#id_assets').append("<option value='" + $(this).val() + "'>"#}
        {#                            + $(this).val() + "</option>");#}
        {#                    $("#id_assets_select").find("option:selected").remove();#}
        {#                    $("#moveLeft").attr("disabled", true);#}
        {#                });#}
        {#            });#}
        {#        });#}

        {#        function select_asset() {#}
        {#            var $obj = $("#id_assets option");#}
        {#            if ($obj.is(':selected')) {#}
        {#                $("#moveRight").attr("disabled", false);#}
        {#            }#}
        {#            else {#}
        {#                $("#moveRight").attr("disabled", true);#}
        {#            }#}
        {#        }#}
        {#        function cancel_asset() {#}
        {#            var $obj = $("#id_assets_select option");#}
        {#            if ($obj.is(':selected')) {#}
        {#                $("#moveLeft").attr("disabled", false);#}
        {#            }#}
        {#            else {#}
        {#                $("#moveLeft").attr("disabled", true);#}
        {#            }#}
        {#        }#}

        function change_info() {
            var env = $("#id_env").val();
            var asset_ip = $("#search_input").val();
            $('#id_assets').empty();
            $.ajax({
                type: "GET",
                url: "{% url 'get_asset' %}?env=" + env + '&asset_ip=' + asset_ip,
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#id_assets').append("<option value='" + item.fields.ip + "'>" + item.fields.ip + "</option>");
                    });
                },
                error: function () {
                    alert('error');
                },
                dataType: "json",
                contentType: "application/json"
            });
        }

        $("#search_input").keydown(function (e) {
            if (e.keyCode == 13) {
                change_info();
                return false
            }
        });


        {#        $(document).ready(function () {#}
        {#            $('.down_submit').click(function () {#}
        {#                var file_path = $("#id_file_path").val();#}
        {#                var asset = [];#}
        {#                $("#id_assets_select option").each(function () {#}
        {#                    asset.push($(this).val());#}
        {#                });#}
        {#                if (file_path == undefined || file_path == "" || file_path == null) {#}
        {#                    alert('file_path不能为空！');#}
        {#                }#}
        {#                else if (asset == undefined || asset == "" || asset == null) {#}
        {#                    alert('asset不能为空！');#}
        {#                }#}
        {#                else {#}
        {#                    var result = confirm("是否确定下载?");#}
        {#                    if (result == true) {#}
        {#                        $.ajax({#}
        {#                            type: "POST",#}
        {#                            url: "{% url 'download' %}",#}
        {#                            data: JSON.stringify({#}
        {#                                file_path: file_path,#}
        {#                                asset: asset#}
        {#                            }),#}
        {#                            dataType: "json",#}
        {#                            contentType: "application/json"#}
        {#                        });#}
        {#                    }#}
        {#                }#}
        {#            })#}
        {#        });#}

    </script>
{% endblock %}