{% extends 'base.html' %}
{% block title %}执行命令{% endblock %}
{% block content %}
    <style type="text/css">
        .control-label {
            padding-top: 70px;
        }

        .label-width {
            width: 90px;
        }

        .row {
            padding-left: -15px;
            margin-left: -15px;
        }
    </style>
    <div class="container col-sm-8 col-md-12">
        <div class="col-md-offset-1 console-instance-head clearfix">
            <div class="pull-left">
                <h3><span>执行命令</span></h3>
            </div>
        </div>
        <div class="col-md-offset-1 margin-top-1">
            <form class="form-horizontal" action="{% url 'shell' %}" method="post" id="command_form">
                {% csrf_token %}
                <span id="id_file_size" style="display: none">{{ file_size }}</span>
                <span id="id_command_file" style="display: none">{{ command_file }}</span>
                <div class="form-group">
                    <label class="col-sm-3 control-label label-width"><span>Command：</span></label>
                    <div class="col-sm-3 row">
                        <textarea class="form-control" rows="2" id="id_command"
                                  placeholder="输入command命令"
                                  name="command" style="width: 1000px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <input id="id_command_exec" class="btn btn-default" type="button" value="执行">
                        </input>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-offset-1 margin-top-1">
            <pre id='log'
                 style="height: 30em;background-color:black;color:white;font-family: Courier;width: 100%;"></pre>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        var seek = Number($("#id_file_size").text());
        var command_file = $("#id_command_file").text();
        function errmsg() {
            alert("请联系管理员！")
        }
        $(document).ready(function () {
            $("#id_command_exec").click(function () {
                var t = setInterval(function () {
                    $.ajax({
                        url: "{% url 'get_new_line' %}",
                        type: 'POST',
                        data: JSON.stringify({
                            file: command_file,
                            seek: seek
                        }),
                        success: function (data) {
                            seek = data['seek'];
                            var list = data['lines'];
                            if (list.length != 0) {
                                var div = document.getElementById('log');
                                for (var i = 0; i < list.length; i++) {
                                    var line = list[i];
                                    $("#log").append(line);
                                    div.scrollTop = div.scrollHeight;
                                }
                            }
                        },
                        error: function (data) {
                            errmsg();
                            clearInterval(t);
                            return false;
                        },
                        dataType: "json",
                        contentType: "application/json"
                    });
                }, 1000);

                var command = $("#id_command").val();
                $.ajax({
                    url: "{% url 'shell' %}",
                    type: 'POST',
                    data: JSON.stringify({
                        command: command
                    }),
                    success: function (data) {
                        if (data['rtn'] == '00') {
                            $("#log").append('command:\n        ');
                            $("#log").append(data['command']);
                            $("#log").append('\n执行成功!\n');
                            setTimeout(function () {
                                clearInterval(t);
                            }, 3000);
                        }
                    },
                    error: function (data) {
                        errmsg();
                        clearInterval(t);
                        return false;
                    },
                    dataType: "json",
                    contentType: "application/json"
                });
            })
        });
    </script>
{% endblock %}